body {
  background-image: url("https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.task {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  width: 80%;
  height: 40px;
  margin: 5px auto;
  position: relative;
}

.task-box {
  background-color: #ffffff;
  min-height: 500px;
  width: 450px;
  margin: 100px auto;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.task-input {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-box {
  border-radius: 20px;
  background: none repeat scroll 0 0 #ffffff;
  height: 35px;
  width: 350px;
  border-width: 0.25px;
  padding: 3px;
}

.btn {
  background-color: #fefeff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border-width: 0.25px;
  margin: 10px;
}

.btn:hover {
  background-color: #2a98ff;
  color: white;
}

.trash.btn {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  position: absolute;
  right: 0;
}

.trash.btn:hover {
  background-color: #db524b;
  color: white;
}
